@use '../../styles/global';

table {
  width: 100%;
}

th {
  color: white;
  text-align: center !important;
}


.td-align-right{
  text-align: right;
  justify-content: flex-end;
}

.header-align-right{
  display: flex;
  padding: 21px 0;
  justify-content: flex-end;
}

.textGuide{
  background-color: #ffff;
  border: 1px solid var(--primary);
  border-radius: 15px 15px 15px 15px;
  box-shadow: var(--primary) 3px 4px 0;
  color: #0a0a0a;
  display: inline-block;
  font-size: 1.1em;
  padding: 1%;
  text-decoration: none;
  margin-bottom: 1%!important;
  width: 97%;
}

.botonesAcciones {
  width: 20%;
  text-align: center;
  justify-content: center;
}

.tituloAcciones {
  justify-content: center;
}

.mat-mdc-row:nth-child(even), .mat-mdc-row:nth-child(even) button{
  background-color:#E7D6D6!important;
}

.mat-mdc-row:nth-child(odd), .mat-mdc-row:nth-child(odd) button{
  background-color: white!important;
}

mat-card-actions {
  justify-content: center;
}

mat-card-actions button{
  background-color: var(--primary);
  color: white;
  padding: 10px;
}
