<!-- SELECCIÓN MENÚ PRINCIPAL -->
<mat-card class="card-oas">
  <mat-card-header>
    <mat-card-title>Definición de fechas para los procesos de formulación y seguimiento</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formFechas">
      <div class="container-border">
        <h2 class="titulo">Planes de Acción de Funcionamiento</h2>
        <mat-form-field appearance="fill" [style.width.%]="100">
          <mat-label id="tipo-input-label">Seleccione la Vigencia</mat-label>
          <mat-select (selectionChange)="onChangeVigencia($event.value)" [formControl]="selectVigencia">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia">
              {{vigencia.Nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" [style.width.%]="100">
          <mat-label id="tipo-input-label">Formulación / Seguimiento</mat-label>
          <mat-select (selectionChange)="onChangeProceso($event.value)" [formControl]="selectTipo">
            <mat-option value="formulacion">Formulación</mat-option>
            <mat-option value="seguimiento">Seguimiento</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" [style.width.%]="100">
          <mat-label id="tipo-input-label">Filtro</mat-label>
          <mat-select (selectionChange)="onChangeFiltro($event.value)" [formControl]="selectFiltro">
            <mat-option value="unidad">Unidad</mat-option>
            <mat-option value="plan">Plan/Proyecto</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="filtroUnidad">
        <div class="btnUnidades-PlanesProyectos">
          <button mat-raised-button matPrefix color="primary" [disabled]="tipo !== 'seguimiento' && tipo !== 'formulacion'"
            (click)="banderaTabla('unidades')">Unidades a las que desea asignar el proceso
          </button>
          <button mat-raised-button matPrefix color="primary" [disabled]="tipo !== 'seguimiento' && tipo !== 'formulacion'"
            (click)="banderaTabla('planes_proyectos')" >Planes/proyectos a las que desea asignar el proceso
          </button>
        </div>
        <!-- Tabla Unidades de interés -->
        <mat-card class="card-oas" [style.width.%]="97"
        *ngIf="(tipo=='seguimiento' || tipo == 'formulacion') && vigenciaSelected && banderaUnidadesInteres">
          <app-tabla-unidades (unidadesInteresSeleccionadas)="manejarCambiosUnidadesInteres($event)" [filtroPlan]="false"></app-tabla-unidades>
        </mat-card>
        <!-- Tabla Planes/Proyectos de interés -->
        <mat-card class="card-oas" [style.width.%]="97"
          *ngIf="(tipo=='seguimiento' || tipo == 'formulacion') && vigenciaSelected && banderaPlanesInteres">
            <app-listar-plan [banderaPlanesAccionFuncionamiento]="true" (planesInteresSeleccionados)="manejarCambiosPlanesInteres($event)"
            [periodoSeguimiento]="periodoSeguimientoListarPlan" [filtroPlan]="false"></app-listar-plan>
        </mat-card>
      </div>
      <div *ngIf="filtroPlan">
        <div class="btnUnidades-PlanesProyectos">
          <button mat-raised-button matPrefix color="primary" [disabled]="tipo !== 'seguimiento' && tipo !== 'formulacion'"
            (click)="banderaTabla('planes_proyectos')" >Planes/proyectos a las que desea asignar el proceso
          </button>
          <button mat-raised-button matPrefix color="primary" [disabled]="tipo !== 'seguimiento' && tipo !== 'formulacion'"
            (click)="banderaTabla('unidades')">Unidades a las que desea asignar el proceso
          </button>
        </div>
        <!-- Tabla Planes/Proyectos de interés -->
        <mat-card class="card-oas" [style.width.%]="97"
          *ngIf="(tipo=='seguimiento' || tipo == 'formulacion') && vigenciaSelected && banderaPlanesInteres">
            <app-listar-plan [banderaPlanesAccionFuncionamiento]="true" (planesInteresSeleccionados)="manejarCambiosPlanesInteres($event)"
            [periodoSeguimiento]="periodoSeguimientoListarPlan" [filtroPlan]="true"></app-listar-plan>
        </mat-card>
        <!-- Tabla Unidades de interés -->
        <mat-card class="card-oas" [style.width.%]="97"
        *ngIf="(tipo=='seguimiento' || tipo == 'formulacion') && vigenciaSelected && banderaUnidadesInteres">
          <app-tabla-unidades (unidadesInteresSeleccionadas)="manejarCambiosUnidadesInteres($event)"
          [filtroPlan]="true" [periodoSeguimiento]="periodoSeguimientoListarUnidades"></app-tabla-unidades>
        </mat-card>
      </div>
      <ng-container *ngIf="tipo=='seguimiento' && vigenciaSelected && filtroSelected">
        <div class="container-border">
          <h4 class="periodo-header">Trimestre 1</h4>
          <div class="container-fecha">
            <mat-label class="label-fecha">Fecha: </mat-label>
            <mat-form-field appearance="fill" [style.width.%]="35">
              <mat-label>Seleccione el rango</mat-label>
              <mat-date-range-input (click)="picker1.open()" [formGroup]="fecha1" [rangePicker]="picker1">
                <input matStartDate formControlName="start" placeholder="Fecha Inicio">
                <input matEndDate formControlName="end" placeholder="Fecha Final">
              </mat-date-range-input>
              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-date-range-picker #picker1></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
        <div class="container-border">
          <h4 class="periodo-header">Trimestre 2</h4>
          <div class="container-fecha">
            <mat-label class="label-fecha">Fecha: </mat-label>
            <mat-form-field appearance="fill" [style.width.%]="35">
              <mat-label>Seleccione el rango</mat-label>
              <mat-date-range-input (click)="picker2.open()" [formGroup]="fecha2" [rangePicker]="picker2">
                <input matStartDate formControlName="start" placeholder="Fecha Inicio">
                <input matEndDate formControlName="end" placeholder="Fecha Final">
              </mat-date-range-input>
              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-date-range-picker #picker2></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
        <div class="container-border">
          <h4 class="periodo-header">Trimestre 3</h4>
          <div class="container-fecha">
            <mat-label class="label-fecha">Fecha: </mat-label>
            <mat-form-field appearance="fill" [style.width.%]="35">
              <mat-label>Seleccione el rango</mat-label>
              <mat-date-range-input (click)="picker3.open()" [formGroup]="fecha3" [rangePicker]="picker3">
                <input matStartDate formControlName="start" placeholder="Fecha Inicio">
                <input matEndDate formControlName="end" placeholder="Fecha Final">
              </mat-date-range-input>
              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-date-range-picker #picker3></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
        <div class="container-border">
          <h4 class="periodo-header">Trimestre 4</h4>
          <div class="container-fecha">
            <mat-label class="label-fecha">Fecha: </mat-label>
            <mat-form-field appearance="fill" [style.width.%]="35">
              <mat-label>Seleccione el rango</mat-label>
              <mat-date-range-input (click)="picker4.open()" [formGroup]="fecha4" [rangePicker]="picker4">
                <input matStartDate formControlName="start" placeholder="Fecha Inicio">
                <input matEndDate formControlName="end" placeholder="Fecha Final">
              </mat-date-range-input>
              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-date-range-picker #picker4></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="tipo=='formulacion' && vigenciaSelected && filtroSelected">
        <div class="container-border-for">
          <h4>Período de Formulación</h4>
          <div class="container-fecha">
            <mat-label class="label-fecha">Fecha: </mat-label>
            <mat-form-field appearance="fill" [style.width.%]="35">
              <mat-label>Seleccione el rango</mat-label>
              <mat-date-range-input (click)="picker.open()" [formGroup]="fecha5" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Fecha Inicio">
                <input matEndDate formControlName="end" placeholder="Fecha Final">
              </mat-date-range-input>
              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </form>
  </mat-card-content>
  <mat-card-footer *ngIf="!reporteHabilitado && vigenciaSelected && tipoSelected && filtroSelected" style="text-align: center;">
    <button mat-raised-button color="primary" [disabled]="guardarDisabled" (click)="guardar()">
      Guardar
    </button>
    <button mat-raised-button color="primary" (click)="limpiarForm()">
      Limpiar
    </button>
  </mat-card-footer>
</mat-card>
