table,
.paginator {
  width: 80%;
  margin-left: 10%;
}

th {
  color: white;
  text-align: center !important;
}

.unidades {
  display: flex;
  justify-content: center;
}

.mat-column-index {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  justify-content: flex-end;
}

.mat-card {
  background-color: #f1f5f8;
}

.container-border {
  margin: 3% 0% 0% 0%;
  border: 1px solid var(--primary);
  padding: 1%;
  border-radius: 15px 15px 15px 15px;
}

.titulo {
  width: 23%;
  color: var(--primary);
  font-size: 16px;
  margin-top: -23px;
  margin-left: 7px;
  padding-left: 8px;
  background: #f1f5f8;
  position: relative;
}

.container-border-for {
  margin: 3% 0% 0% 0%;
  border: 1px solid var(--primary);
  padding: 1%;
  border-radius: 15px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-border h4 {
  width: 5%;
  color: var(--primary);
  font-size: 16px;
  margin-top: -28px;
  margin-left: 7px;
  padding-left: 8px;
  background: #f1f5f8;
  position: relative;
}

.container-border-for h4 {
  width: 12%;
  color: var(--primary);
  font-size: 16px;
  margin-top: -28px;
  margin-left: 7px;
  padding-left: 8px;
  background: #f1f5f8;
  position: relative;
}

.notice {
  display: block !important;
  width: fit-content;
  margin: 0 auto;
  background-color: lightyellow;
  font-style: oblique;
}

.mat-raised-button {
  margin: 2% 0% 2% 2%;
}

.label-fecha {
  margin: 0% 2% 0% 3%;
}

.num, .col-seleccion {
  width: 10%;
  text-align: center !important;
}
